@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  color: #141414;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  min-height: 100%;
}

html {
  width: 100%;
  height: 100%;
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255);
}

.loginCont {
  width: 450px;
  height: 700px;
  border: 1px solid #eeedf2;
  border-radius: 8px;
  padding: 48px;
  animation-name: smallSize;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.loginSide {
  height: 650px;
  width: 0px;
  padding: 48px;
  border: 1px solid #eeedf2;
  border-left: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  animation-name: bigSize;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 1s;
}

.smallText {
  font-size: 14px;
  line-height: 1.4;
}

.blueColor {
  color: rgb(66, 133, 244);
  cursor: pointer;
}

@keyframes smallSize {
  100% {
    width: 0px;
  }
}

@keyframes bigSize {
  100% {
    width: 450px;
  }
}